<script type="text/html"
        data-title="Best of 2018"
        data-route="^[Bb]est-[Oo]f-2018$"
        data-template="best-of-2018"
        data-process="processBestOf2018Page">

<div class="bestof2018 bestof2018-page white">
  {{#data}}
  <div class="top-banner">
    <div class="banner banner--scaled">
      <div class="banner" style="background-image:url('/img/banner.jpg')"> <!-- https://assets.monstercat.com/bestof2017header.jpg -->
        <div class="banner-shade"></div>
        <div class="gradient"></div>
      </div>
    </div>
    <div class="container flex">
      <div class="col-xs-12 col-sm-12 col-md-12 cl-white text center" style="max-width: 500px; margin: auto">
        <h1 class="title uppercase">Best of 2018</h1>
        {{#if status.open}}
          {{#if status.canVote}}
          <p>It's that time of year again! With the Monstercat Best of 2018 voting, we've amped up the system to provide real-time live polling! Simply select your top 10 artists for 2018, in no particular order, and your favourite track from each.</p>
          {{else}}
          <h2 class="mb-2">Thank you for voting!</h2>
            {{#if status.canTweet}}
            <p class="mb-2">Thank you for submitting your vote! The fun doesn't stop here though, make sure to tweet at your favourite artists to let them know that their tracks were your top picks of the year. Then head over to the live results leaderboard to check out the action!</p>
             {{>best-of-2018-tweet}}
            {{else}}
              <p class="mb-2">Thank you for submitting your vote! Head over to the live results leaderboard to check out the action!</p>
              <a class="button" href="/best-of-2018/results">View Live results</a>
            {{/if}}
          {{/if}}
        {{else}}
          <h2 class="mb-2">Voting is now over!</h2>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="banner-bottom pb-4 cl-white">
    <div class="banner" style="background: black">
      <div class="banner-shade"></div>
      <div class="gradient gradient--inverted"></div>
    </div>
    <div class="container">
      {{#if status.open}}
        {{#if status.canVote}}
          {{>bestof2018-voting}}
        {{else}}
          {{>bestof2018-results}}
        {{/if}}
      {{else}}
        {{>bestof2018-results}}
      {{/if}}
    </div>
  </div>
  {{/data}}
</div>
</script>

<script type="text/html"
        data-partial
        data-template="bestof2018-artists"
        >

{{#each artists}}
  <div class="row artist-row">
    <div class="banner" style="background-image: url('{{albumArt}}')"></div>
    <div class="col-sm-2 col-xs-12">
      <div class="artist-circle" style="display: block; margin: auto">
        <a href="" label="Artist Image">
          <img src="{{artistImg}}">
        </a>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12 voting-col voting-col-artists" style="vertical-align: middle;margin: auto;">
      <h3 role="artist-name">Select an Artist</h3>
      <select name="artist" role="bestof2018-artist">
          <option value="">{{artistName}}</option>
      </select>
    </div>
    <div class="col-sm-5 col-xs-12 voting-col voting-col-song" style="margin: auto;">
      <h3 class="favorite-song-title">Favorite <span role="artist-name" class="artist-name"></span>Song</h3>
      <select role="song-poll" name="song">
          <option value="">{{songName}}</option>
      </select>
    </div>
  </div>
{{/each}}
</script>

<script type="text/html"
        data-partial
        data-template="bestof2018-voting"
        >
<div class="bestof2018-voting">
  <form role="bestof2018">
    {{>bestof2018-artists}}
    <div class="submit-container">
      <button class="btn button--cta width--full" type="button" onclick="clickSubmitBestOf2018(event)">Submit Your Votes</button>
    </div>
  </form>
</div>
</script>


<script type="text/html"
        data-partial
        data-template="bestof2018-results"
        >
{{#each artists}}
  <div class="row artist-row" style="border-bottom: 5px solid dodgerblue">
    <div class="banner" style="background-image: url('{{albumArt}}')"></div>
    <div class="col-sm-2">
      <div class="artist-circle">
        <a href="" label="Artist Image">
          <img src="{{artistImg}}">
        </a>
      </div>
    </div>
    <div class="col-sm-9" style="vertical-align: middle;margin: auto;">
    <h3 role="artist-name">{{artistName}}</h3>
    <p>{{songName}}</p>
  </div>
  <div class="col-sm-1" style="margin: auto;">
    <div class="ranking-box">
      <h2>{{ranking}}</h2>
    </div>
  </div>
</div>
{{/each}}
</script>

<script type="text/html"
        data-route="^[Bb]est-[Oo]f-2018\/results$"
        data-title="Best of 2018 Results"
        >

<div class="bestof2018 bestof2018-page">
  <div class="container">
    <div role="bestof2018-results">
      {{>bestof2018-results}}
    </div>
  </div>
</div>
</script>

<script type="text/html"
        data-partial
        data-template="best-of-2018-tweet"
        >
<form id="tweet-vote" onsubmit="">
  <textarea name="tweet" rows="3">I voted for ...  </textarea>
  <div>
    <a class="button button--cta" target="_blank" role="tweet" href="">Tweet Your Votes</a>
    <a class="button" href="/best-of-2018/results">View Live results</a>
  </div>
</form>
</script>
